* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
section.nav {
  margin-bottom: -20px;
}
section.nav .navbar-default {
  background: none;
  border: none;
}
section.nav .navbar-default .container-fluid {
  padding: 5px 30px;
}
section.nav .navbar-default .container-fluid .navbar-header {
  background: none;
}
section.nav .navbar-default .container-fluid .navbar-header button.navbar-toggle {
  margin: 0;
  border: none;
  background: none;
  padding: 15px 30px;
  color: #F54078;
}
section.nav .navbar-default .container-fluid .navbar-header a {
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  color: #F54078;
  font-family: 'Srisakdi', cursive;
  font-size: 40px;
  font-weight: 700;
}
section.nav .navbar-default .container-fluid .navbar-collapse ul.navbar-right > li {
  text-align: center;
  margin: 0 15px;
}
section.nav .navbar-default .container-fluid .navbar-collapse ul.navbar-right > li > a {
  background: none;
  color: #333333;
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  font-weight: 400;
}
section.nav .navbar-default .container-fluid .navbar-collapse ul.navbar-right > li > a.open a {
  background: none;
}
section.nav .navbar-default .container-fluid .navbar-collapse ul.navbar-right > li > a.active {
  color: #F54078;
}
section.nav .navbar-default .container-fluid .navbar-collapse ul.navbar-right > li > a:hover {
  color: #fc427b;
  background: none;
}
section.nav .navbar-default .container-fluid .navbar-collapse ul.navbar-right > li ul.dropdown-menu {
  background: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
section.nav .navbar-default .container-fluid .navbar-collapse ul.navbar-right > li ul.dropdown-menu li {
  margin: 0;
}
section.nav .navbar-default .container-fluid .navbar-collapse ul.navbar-right > li ul.dropdown-menu li a {
  color: #333333;
}
section.banner .content .carousel ol.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 6px solid white;
  background: #FC427B;
  cursor: pointer;
}
section.banner .content .carousel ol.carousel-indicators li:hover {
  background: white;
}
section.banner .content .carousel ol.carousel-indicators .active {
  background: white;
}
section.banner .content .carousel .carousel-inner .item {
  height: 400px;
}
section.banner .content .carousel .carousel-inner .item:nth-child(1) {
  background-image: url('../images/2.jpg');
  background-size: cover;
  background-position: center;
}
section.banner .content .carousel .carousel-inner .item:nth-child(2) {
  background-image: url('../images/4.jpg');
  background-size: cover;
  background-position: center;
}
section.banner .content .carousel .carousel-inner .item:nth-child(3) {
  background-image: url('../images/1.jpg');
  background-size: cover;
  background-position: center;
}
section.banner .content .carousel .carousel-inner .item .container-fluid .font {
  padding-top: 100px;
  text-align: right;
}
section.banner .content .carousel .carousel-inner .item .container-fluid .font h5 {
  font-size: 14px;
  color: #333333;
  font-family: 'Poppins', sans-serif;
}
section.banner .content .carousel .carousel-inner .item .container-fluid .font h4 {
  line-height: 1.3em;
  font-size: 2em;
  font-weight: 600;
  color: white;
  font-family: 'Poppins', sans-serif;
}
section.banner .content .carousel .carousel-inner .item .container-fluid .font .btn {
  background: #FC427B;
  border: 1px solid white;
  margin-top: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
}
section.welcome .container .banner .row div:nth-child(1) {
  padding-top: 50px;
}
section.welcome .container .banner .row div:nth-child(1) p {
  font-size: 38px;
  font-weight: 100;
  color: inherit;
  font-family: "Poppins", sans-serif;
}
section.welcome .container .banner .row div:nth-child(1) h4 {
  font-weight: normal;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}
section.welcome .container .banner .row div:nth-child(2) {
  padding-top: 50px;
}
section.welcome .container .banner .row div:nth-child(2) span {
  border: 2px solid white;
  padding: 30px;
  border-radius: 50%;
  font-size: 32px;
  background: #fc427b;
  color: white;
}
section.welcome .container .banner .row div:nth-child(2) h5 {
  color: #333333;
  font-size: 24px;
  font-weight: 300;
  line-height: 2em;
}
section.welcome .container .banner .row div:nth-child(2) p {
  color: #999999;
  font-size: 16px;
  line-height: 2em;
}
section.welcome .container .banner .row div:nth-child(3) {
  padding-top: 50px;
}
section.welcome .container .banner .row div:nth-child(3) span {
  border: 2px solid white;
  padding: 30px;
  border-radius: 50%;
  font-size: 32px;
  background: #fc427b;
  color: white;
}
section.welcome .container .banner .row div:nth-child(3) h5 {
  color: #333333;
  font-size: 24px;
  font-weight: 300;
  line-height: 2em;
}
section.welcome .container .banner .row div:nth-child(3) p {
  color: #999999;
  font-size: 16px;
  line-height: 2em;
}
section.service {
  background: #FC427B;
}
section.service .container {
  text-align: center;
}
section.service .container ul.row {
  padding-top: 80px;
  padding-left: 0;
}
section.service .container ul.row li span {
  font-size: 32px;
  color: white;
  display: inline-block;
  border: 2px solid white;
  padding: 30px;
  border-radius: 50%;
}
section.service .container ul.row li h5 {
  padding: 20px 0px 20px 0px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}
section.service .container ul.row li p {
  font-size: 16px;
  font-weight: 100;
  padding-bottom: 80px;
  color: white;
  font-family: 'Poppins', sans-serif;
}
section.blog .row {
  padding: 100px 0;
}
section.blog .row .posts {
  text-align: center;
}
section.blog .row .posts > p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
section.blog .row ul.banner li {
  overflow: hidden;
}
section.blog .row ul.banner li img {
  padding: 10px 0;
}
section.blog .row ul.banner li h4 {
  font-size: 23px;
  color: #343a40;
  font-family: 'Poppins', sans-serif;
}
section.blog .row ul.banner li span {
  padding: 10px 0;
}
section.blog .row ul.banner li span a {
  color: #999;
  letter-spacing: 1px;
  font-size: 15px;
}
section.blog .row ul.banner li p {
  font-size: 15px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
  margin: 0;
  padding: 0;
}
section.creating {
  background-image: url('../images/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
section.creating .row {
  font-family: 'Poppins', sans-serif;
  padding: 50px 0px 50px 0px;
}
section.creating .row span {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: rgba(255, 255, 255, 0.3);
}
section.creating .row h3 {
  font-size: 2em;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 20px 20px white;
}
section.creating .row p {
  padding: 10px 0;
  color: white;
  line-height: 20px;
}
section.gallery {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 100px;
}
section.gallery .container {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
section.gallery .container h2 {
  padding-top: 90px;
  font-weight: normal;
}
section.gallery .container p {
  color: #999;
  letter-spacing: 1px;
  font-family: 'Sintony', sans-serif;
  padding-bottom: 20px;
}
section.gallery .container .row div {
  padding: 5px;
}
section.gallery .container .row div img {
  border-radius: 5px;
  width: 100%;
}
section.gallery #myModal .modal-content {
  position: relative;
  width: 70%;
  margin: 0px auto;
}
section.gallery #myModal .modal-content .modal-header {
  border: none;
  padding: 0;
}
section.gallery #myModal .modal-content .modal-header button {
  outline: none;
  padding: 0px 15px;
  margin-top: 15px;
}
section.gallery #myModal .modal-content .change span {
  display: inline-block;
}
section.gallery #myModal .modal-content .change span:nth-child(1) {
  position: absolute;
  top: 10%;
  float: left;
  width: 50%;
  height: 85%;
}
section.gallery #myModal .modal-content .change span:nth-child(2) {
  position: absolute;
  top: 10%;
  left: 50%;
  float: right;
  width: 50%;
  height: 85%;
}
section.gallery #myModal .modal-body img {
  width: 100%;
  height: 100%;
}
section.newsletter {
  background-image: url('../images/bg3.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}
section.newsletter .container .row {
  height: 500px;
  padding: 100px 0px;
  text-align: center;
}
section.newsletter .container .row h2 {
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 32px;
}
section.newsletter .container .row p {
  margin: 0;
  padding-bottom: 40px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
section.newsletter .container .row .form-inline {
  text-align: center;
}
section.newsletter .container .row .form-inline .form-group {
  padding: 0px;
}
section.newsletter .container .row .form-inline input {
  width: 90%;
  padding: 25px 15px;
  line-height: 0px;
  font-size: 16px;
  margin-left: 5%;
}
section.newsletter .container .row .form-inline .comt input {
  background: #38D2FE;
  border: none;
  font-size: 14px;
  color: white;
}
section.contact {
  padding: 80px 0;
}
section.contact h3 {
  text-align: center;
  color: #333333;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 32px;
}
section.contact h4 {
  text-align: center;
  margin: 0;
  padding-bottom: 40px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 2em;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
section.contact .row ul.left li {
  padding: 40px;
  margin: 15px 0px;
  box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
}
section.contact .row ul.left li h5 {
  color: #38D2FE;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 30px;
}
section.contact .row ul.left li p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
section.contact .row .right {
  margin-top: 15px;
  padding: 40px;
  box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
}
section.contact .row .right h5 {
  color: #38D2FE;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 30px;
}
section.contact .row .right .form-horizontal .form-group {
  margin: 0;
  padding: 0;
}
section.contact .row .right .form-horizontal .form-group input {
  color: #000;
  outline: none;
  font-size: 15px;
  padding: 24px 15px;
  margin-bottom: 16px;
  letter-spacing: 1px;
  border-bottom: solid 1px #828282;
  border-radius: 0px;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  border-bottom: 1px solid #333333;
}
section.contact .row .right .form-horizontal textarea.form-control {
  color: #000;
  background: none;
  outline: none;
  font-size: 15px;
  padding: 11px;
  margin-bottom: 16px;
  letter-spacing: 1px;
  border: none;
  border-bottom: solid 1px #828282;
  border-radius: 0px;
  min-height: 11.7em;
  resize: none;
}
section.contact .row .right .form-horizontal button.btn {
  margin-top: 30px;
  width: 100%;
  padding: 15px 0;
  background: #FC427B;
  color: white;
  border: none;
  outline: none;
}
footer.last {
  background: #212020;
}
footer.last .container {
  padding-bottom: 80px;
}
footer.last .container ul.row {
  padding-top: 50px;
}
footer.last .container ul.row li h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
}
footer.last .container ul.row li p {
  margin: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9em;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
footer.last .container ul.row li.are p {
  padding-top: 30px;
}
footer.last .container ul.row li.news h3 {
  padding-top: 40px;
}
footer.last .container ul.row li.news .content {
  padding-top: 10px;
}
footer.last .container ul.row li.news .content h4 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  padding-top: 10px;
}
footer.last .container ul.row li.us h3 {
  padding-top: 40px;
}
footer.last .container ul.row li.us .content {
  padding-top: 10px;
}
footer.last .container ul.row li.us .content h4 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  padding-top: 10px;
}
footer.last .container ul.row li.links h3 {
  padding-top: 40px;
}
footer.last .container ul.row li.links ul.list {
  padding-top: 10px;
}
footer.last .container ul.row li.links ul.list li a {
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
  padding-top: 10px;
  transition: all 1s;
}
footer.last .container ul.row li.links ul.list li a:hover {
  color: white;
}
footer.last .container-fluid {
  text-align: center;
  border-top: 1px solid #dee2e6;
}
footer.last .container-fluid .move {
  margin-top: 30px;
}
footer.last .container-fluid .move img a {
  cursor: pointer;
}
footer.last .container-fluid .footer p {
  padding: 15px 0 70px 0;
  font-size: 15px;
  color: #999999;
  letter-spacing: 2px;
}
footer.last .container-fluid .footer p > a {
  color: #FC427B;
  font-weight: 600;
  cursor: pointer;
}
footer.last .container-fluid .footer p > a:hover {
  transition: all 0.5s;
  color: white;
}
/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  section.nav .navbar-default .container-fluid {
    padding: 15px 50px;
  }
  section.nav .navbar-default .container-fluid .navbar-header a {
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    color: #F54078;
    font-family: 'Srisakdi', cursive;
    font-size: 40px;
    font-weight: 700;
  }
  section.nav .navbar-default .container-fluid .collapse ul.navbar-right li > a {
    text-align: left;
  }
  section.nav .navbar-default .container-fluid .collapse ul.navbar-right li:hover ul.dropdown-menu {
    display: block;
  }
  section.nav .navbar-default .container-fluid .collapse ul.navbar-right li ul.dropdown-menu {
    background: #333333;
  }
  section.nav .navbar-default .container-fluid .collapse ul.navbar-right li ul.dropdown-menu li a {
    color: white;
    transition: all 0.3s;
    padding: 5px 10px;
  }
  section.nav .navbar-default .container-fluid .collapse ul.navbar-right li ul.dropdown-menu li a:hover {
    color: #333333;
    background: white;
  }
  section.service .container ul.row {
    padding-top: 100px;
  }
  section.service .container ul.row li h5 {
    font-size: 26px;
  }
  section.banner .content .carousel .carousel-inner .item {
    height: 720px;
  }
  section.banner .content .carousel .carousel-inner .item .container-fluid .font {
    padding-top: 200px;
  }
  section.banner .content .carousel .carousel-inner .item .container-fluid .font h5 {
    font-size: 16px;
  }
  section.banner .content .carousel .carousel-inner .item .container-fluid .font h4 {
    font-size: 2.4em;
  }
  section.gallery #myModal .modal-content {
    width: 70%;
  }
  section.creating {
    background-attachment: fixed;
  }
  section.creating .row {
    padding: 100px 0px 200px 0px;
  }
  section.creating .row span {
    font-size: 26px;
  }
  section.creating .row h3 {
    font-size: 2.8em;
  }
  footer.last .container-fluid .footer p {
    font-size: 1px;
  }
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
  section.banner .content .carousel .carousel-inner .item {
    height: 720px;
  }
  section.banner .content .carousel .carousel-inner .item .container-fluid .font {
    padding-top: 150px;
  }
  section.banner .content .carousel .carousel-inner .item .container-fluid .font h5 {
    font-size: 23px;
  }
  section.banner .content .carousel .carousel-inner .item .container-fluid .font h4 {
    font-size: 3.2em;
  }
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  section.banner .content .carousel .carousel-inner .item {
    height: 720px;
  }
  section.banner .content .carousel .carousel-inner .item .container-fluid .font {
    padding-top: 200px;
  }
  section.banner .content .carousel .carousel-inner .item .container-fluid .font h5 {
    font-size: 1.6em;
    font-weight: 500;
  }
  section.banner .content .carousel .carousel-inner .item .container-fluid .font h4 {
    font-size: 4.2em;
  }
  section.banner .content .carousel .carousel-inner .item .container-fluid .font .btn {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=./style.css.map */